<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.recyclick">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:permissionGroup="android.permission-group.STORAGE"
        android:protectionLevel="dangerous" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecyClick"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".grafikbatang"
            android:exported="false" />
        <activity
            android:name=".SplashBerhasilLogin"
            android:exported="false" />
        <activity
            android:name=".KontakActivity"
            android:exported="false" />
        <activity
            android:name=".detailBarangActiviy"
            android:exported="false" />
        <activity
            android:name=".detailAlamatActivity"
            android:exported="false" />
        <activity
            android:name=".DetailPemesananActivity"
            android:exported="false" />
        <activity
            android:name=".DataPemesananActivity"
            android:exported="false" />
        <activity
            android:name=".EditKaryawanActivity"
            android:exported="false" />
        <activity
            android:name=".TambahKaryawanActivity"
            android:exported="false" />
        <activity
            android:name=".editBarangActivity"
            android:exported="false" />
        <activity
            android:name=".DataKaryawanActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".DataBarangActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ContainerFragment"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".PengaturanActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".BottomNav"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".TambahBarangActivity"
            android:exported="false" />
        <activity
            android:name=".LaporanActivity"
            android:exported="false" />
        <activity
            android:name=".LaporanLengkapActivity"
            android:exported="false" />
    </application>

</manifest>